* {
    font-size: 16px;
    margin: 0px;
    top: 0px;
    font-family: Montserrat;
    color: #fff;
}
.background {
    background: linear-gradient(225deg, #8969AE, #83d2e6);
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.title {
    position: fixed;
    width: 100vw;
    height: 10vh;
    text-align: center;
}
.title p {
    font-size: 200%;
    top: calc(5vh - 0.5em);
    width: 100vw;
    position: fixed;
}
.hive {
    position: fixed;
    width: 100vw;
    height: 50vh;
    text-align: center;
    top: 10vh;
    background-image: url('hive.svg');
    background-position: center;
    background-repeat: no-repeat;
	background-size: contain;
}
.letter {
    font-size: calc(3em + 2vw);

}
.first {
    position: fixed;
    top: calc(22.5vh - 0.25em);
    left: calc(50vw - 2.25em);
}
.second {
    position: fixed;
    top: calc(10vh);
    left: calc(50vw - 0.35em);
}
.third {
    position: fixed;
    top: calc(22.5vh - 0.25em);
    left: calc(50vw + 1.55em);
}
.fourth {
    top: calc(35vh - 0.5em);
    left: calc(50vw - 0.35em);
    position: fixed;
}
.fifth {
    position: fixed;
    top: calc(35vh + 0.4em);
    left: calc(50vw - 2.25em);
}
.sixth {
    position: fixed;
    top: calc(60vh - 1.25em);
    left: calc(50vw - 0.35em);
}
.seventh {
    position: fixed;
    top: calc(35vh + 0.4em);
    left: calc(50vw + 1.55em);
}
.guesses {
    position: fixed;
    width: 100vw;
    height: calc(42px + 2.5em);
    top: 60vh;
    text-align: center;
}
.guess {
    margin: 15px;
    width: 20%;
    height: 2.5em;
    outline: none;
    background-color: transparent;
    border: 3px solid #fff;
    text-align: center;
    text-transform: uppercase;
}
.submit {
    outline: none;
    background-color: transparent;
    padding: 0.75em;
    border: 3px solid #fff;
    cursor: pointer;
}
.submit:hover {
    background-color: #fff;
    color: #8969AE;
}
.piggy {
    height: 25vh;
    position: fixed;
    top: calc(70vh + 0.5em);
    left: calc(50vw - 12.5vh);
}
.instructions {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000;
    opacity: 0.9;
    text-align: center;
    padding-top: 15vh;
}
.instructionsX {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000;
    opacity: 0.9;
    text-align: center;
    padding-top: 15vh;
    visibility: hidden;
}
.instructions p {
    font-size: 200%;
    padding: 25px 100px;
}
.poem {
    height: 40vh;
    stroke: #fff;
    fill: #fff;
}
.x {
    fill: #fff;
    stroke: #fff;
    height: 5vh;
    position: fixed;
    right: 1vw;
    top: 1vw;
}
.x:hover {
    cursor: pointer;
}
